* {
    padding: 0;
    margin: 0;
    align-items: center;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #edd53b;
    text-align: center;
    ;
}

.title {
    color: #ffff;
    background: red;
}

.current {
    background-color: yellow;
    color: red;
}

.c .container {
    background-color: #3bb5ed;
}

.container ul {
    list-style-type: none;
    font-size: 20px;
}

.container li {
    padding: 10px 30px 10px 30px;
}

.equation {
    margin-top: 40px;
}

.equation h1 {
    display: inline;
    padding: 10px 15px 10px 15px;
    font-size: 70px;
    border-radius: 5px;

}

a {
    text-decoration: none;

}

a:hover {
    background-color: none;
}

.answers,
.answers2 {
 
    text-align: center;

    display: inline-block;





}

.answers h1,
.answers2 h1 {
    font-size: 50px;
    margin: 10px;
    
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;

    cursor: pointer;


}

#option1 {
    background-color: #eb0c0c;
    transition: 0, 75s;
    color: #ffff;
  



}

#option1:hover {
    background-color: #ffff;

    color: #eb0c0c;
}

#option2 {
    background-color: #480cec;
    transition: 0, 75s;
    color: #ffff;
  

}

#option2:hover {
    background-color: #ffff;

    color: #480cec;
}

#option3 {
    background-color: #ffa500;
    transition: 0, 75s;
    color: #ffff;

}

#option3:hover {
    background-color: #ffff;

    color: #ffa500;
}

#option4 {
    background-color: #6b0e5c;
    transition: 0, 75s;
    color: #ffff;

}

#option4:hover {
    background-color: #ffff;

    color: #6b0e5c;
    ;
}

#num1 {
    color: #480cec;
}

#num2 {
    color: #da361a;
}

#oper {
    color: #6b0e5c;
}

#equal {
    color: #eb0c0c;
}

#fin {
    color: #16208a;
}
